{% extends 'base.html' %}

{% block content %}
<section id="contact" class="home-section text-center">
    <h2 style="font-size: 40px;">Search for Book</h2>

    <div class="container">
        <!-- /Section: update -->
        <div class="col-lg-8">
            <form id="contact-form" method="GET" role="form" class="contactForm" action="{% url 'browseall' %}">
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group    ">

                            <div class="form-group    ">
                                <label for="Book Name">
                                    Search By Name</label>
                                <input type="text" name="BookName" class="form-control" id="BookName"
                                    placeholder="New Book Name " />

                            </div>

                            <div class="form-group">
                                <label for="Book Category">
                                    Search By Category</label>

                                <input type="text" class="form-control" name="BookCategory" id="BookCategory"
                                    placeholder=" New Book Category" />

                            </div>
                            <div class="form-group">
                                <label for="Book Link">
                                    Search By Author</label>
                                <input type="text" name="BookLink" class="form-control" id="BookAuthor"
                                    placeholder=" New Book Author" />
                            </div>

                            <a href="{% url 'ONsearch' %}">
                                <button type="submit" class="btn btn-skin " id="btnContactUs">Search</button>
                            </a>
                        </div>
            </form>

            <a href="{% url 'browseall' %}"><button type="button" class="btn btn-skin " id="btnContactUs">Browse
                    All</button></a>
        </div>

    </div>
</section>
{% endblock %}