{% extends 'base.html' %}

{% block content %}
<section id="contact" class="home-section text-center">
    <h2 style="font-size: 40px;">Search for Book</h2>

    <div class="container">
        <!-- /Section: update -->
        <div class="col-lg-8">
            <form id="contact-form" method="post" role="form" class="contactForm">
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group	">

                            <div class="form-group	">
                                <label for="Book Name">
                                    Search By Name</label>
                                <input type="text" name="BookName" class="form-control" id="BookName"
                                    placeholder="New Book name " />

                            </div>

                            <div class="form-group">
                                <label for="Book Category">
                                    Search By ID</label>

                                <input type="text" class="form-control" name="BookCategory" id="BookCategory"
                                    placeholder=" New Book Category" />

                            </div>
                            <div class="form-group">
                                <label for="Book Link">
                                    Search By Author</label>
                                <input type="text" name="BookLink" class="form-control" id="BookLink"
                                    placeholder=" New Book Link" />
                            </div>
                            <div class="form-group">

                                <label for="Book's Image Link">
                                    Search By The Year </label>
                                <input type="text" name="ImageLink" class="form-control" id="ImageLink"
                                    placeholder="New image ink" />
                            </div>

                            <div class="form-group">
                                <label for="Author Name">
                                    Search By Rating</label>
                                <input type="text" name="AuthorName" class="form-control" id="AuthorName"
                                    placeholder=" New Author Name" />

                            </div>

                            <button type="submit" class="btn btn-skin " id="btnContactUs">
                                Search </button>
                        </div>
            </form>
            <a class='btn btn-skin' href="{% url 'browseall' %}">
                Browse All
            </a>
        </div>
    </div>
</section>
{% endblock %}