{% extends 'base.html' %}

{% block content %}

<div class="content">
    <!-- Section: intro -->
    <section id="intro" class="intro">

        <div class="slogan">
            <h2>WELCOME TO <span class="text_color">Read Me</span> </h2>
            <h4>We provide to you a fantastic collection of different types of books</h4>
        </div>

    </section>
    <!-- /Section: intro -->

    <!-- Section: about -->
    <section id="about" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>About us</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="wow bounceInUp" data-wow-delay="1s">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h5>OUR PHILOSOPHY </h5>
                                <p class="subtitle"> <b>Some people like to read on a screen.
                                        They love taking them along when they leave the house, and stacking them by
                                        their bedsides.
                                        They love finding old letters and bookmarks in them.
                                        They want to read in a way that offers a rich experience, more than the words
                                        only.
                                        These are the people we're working for.</b></p>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /Section: about -->

</div>

{% endblock %}