*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
@media (min-width:992px){
    .container{
        width: 970px;
    }
}

@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
.book{
    background-image: url('../css/Dark-wooden-website-background.jpg');
    min-height: 100vh;
    background-size: cover;
}
.text h3
{
    font-family: Montserrat,sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform:uppercase;
    font-size: 40px;
    position: relative;
    top: 120px;
}

.image img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 46.7%;
    top: 33%;
    transform: translateY(-50%)
}
.text1{
    margin-bottom: 20px;
    text-align: center;
    display: block;
    padding-top: 270px;
}
.text1 h4{
    color: white;
    font-family: Montserrat,sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}
.text1 p{
    color: white;
    font-family: Montserrat,sans-serif;
    margin-bottom: 15px;
    font-size: 20px;
}
.buttons{
    margin-left: 390px;
}
.buttons button{
    background-color: #F0B775;
    color: white;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    
}

.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}